.navbar-wrapper {
  width: 100vw;
  margin-top: 5vh;
  display: flex;
  justify-content: space-evenly;
  .links-wrapper {
    button {
      text-decoration: none;
      padding: 10px;
      font-family: "Open Sans";
      opacity: 0.7;
      transition: all 0.2s ease-in-out;
      font-size: 16px;
      background-color: transparent;
      outline: none;
      border: 0px;
      margin: 0rem 2rem;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      @include media(">=phone", "<lgphone") {
        font-size: 13px;
        margin: 0rem 1rem;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 13px;
        margin: 0rem 1rem;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 13px;
        margin: 0rem 1rem;
      }
    }
    .active {
      color: black;
    }
  }
}
